html {
    font-family: "SF Display", "Helvetica", sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}

.preload {
    padding: 60px;
    color: #ffffff;
    background-color: #000000;
    min-height: 100vh;
    overflow: hidden;

    display: block;
}

#afterLoad {
    color: #000000;
    display: block;
    background-image: linear-gradient(to top right, #FB872B, #D9E021);
    height: 100vh;
}

.batDeath {
    padding: 60px;
    color: #ffffff;
    background-color: #000000;
    min-height: 100vh;
    overflow: hidden;

    display: none;
    justify-content: center;
    align-content: center;
}

.header {
    display: grid;
    justify-content: center;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.unlock {
    font-weight: 200;
    color: #555555;
    animation-iteration-count: infinite;
}

.unlock:hover {
    color: #868686;
}

.lock {
    font-size: 1.7rem;
    color: #ffffff;
}

.clock {
    margin-top: 20px;
    font-weight: 200;
    font-size: 5rem;
}

.date {
    font-weight: 200;
    font-size: 1.4rem;
}

.mini {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.miniR {
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

.miniL {
    position: absolute;
    left: 0.5%;
    top: 0.5%;
}

.main {
    margin: 60px;
    display: none;
    justify-content: space-evenly;
}

.appCont {
    display: grid;
    grid-template-areas: 
    "a"
    "t";
    text-align: center;
    width: 100px;
    justify-content: center;
}

.app {
    width: 75px;
    height: 75px;
    border-radius: 17px;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
    grid-area: a;
    display: grid;
    align-content: center;
    font-size: 2.5rem;
}

.appCap {
    grid-area: t;
}

.gitHub {
    background-image: linear-gradient(to top right, #333333, #5A5454);
    background-size: 100%;
    color: #f5f5f5;
    font-size: 2.6rem;
}

.mail {
    background-image: linear-gradient(to top right, #3A3897, #A3A1FF);
    background-size: 100%;
    color: #f5f5f5;
    font-size: 2.6rem;
}

.aboutMe {
    background-image: linear-gradient(to top right, #F246F2, #EBC08D);
    background-size: 100%;
    color: #f5f5f5;
    font-size: 2.6rem;
}

.keyCode {
    background-image: linear-gradient(to top right, #312A6C, #852D91);
    background-size: 100%;
    color: #f5f5f5;
}

.diceRoll {
    background: #f5f5f5;
    background-size: 100%;
    font-size: 2.6rem;
}

#diceRollTx {
    background-image: linear-gradient(to top right, #ED1C24, #FCEE21);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.whackAmole {
    background-image: linear-gradient(to top right, #2E3192, #1BFFFF);
    background-size: 100%;
    color: #f5f5f5;
}

.cyberPet {
    background-image: linear-gradient(to top right, #ED213A, #93291E);
    background-size: 100%;
    color: #f5f5f5;
}

.jsClock {
    background-image: linear-gradient(to top right, #009E00, #8Aff8A);
    background-size: 100%;
    color: #f5f5f5
}

.forager {
    background-image: linear-gradient(to top right, #414141, #000000);
    background-size: 100%;
}

.color {
    background-image: linear-gradient(to top right, #45145A, #FF5300);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.quickBar {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background:  #cfcfcf;
    height: 125px;
    width: 100%;
    padding-top: 13px;
}

#quickBar {
    display: none;
    box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.50);
}

.toast {
    position: absolute;
    top: 3%;
    right: 1%;
    width: 400px;
    background: #e8e8e8;
    border-radius: 9px;
    overflow: hidden;
    display: none;
}

.toastHead {
    border-bottom: 1px solid grey;
    background: #f5f5f5;
    padding-top: 6px;
    padding-left: 6px;
}

.toastBody {
    padding-left: 6px;
}

#close {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 1.3rem;
}

#close:hover {
    color: #636363; 
}
.swing {
    transform-origin: bottom left;
}

.large {
    font-size: 10rem;
    color: #f5f5f5;
}

@media only screen and (max-width: 630px) {
    .main {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .appCont {
        padding-bottom: 15px;
    }
}

/*Toast Colors*/

