html {
    font-family: "SF Display", "Helvetica", sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}

.preload {
    padding: 60px;
    color: #ffffff;
    background-color: #000000;
    min-height: 100vh;
    overflow: hidden;

    display: block;
}

#afterLoad {
    color: #000000;
    display: none;
    background-image: linear-gradient(to top right, #FB872B, #D9E021);
    height: 100vh;
}

.batDeath {
    padding: 60px;
    color: #ffffff;
    background-color: #000000;
    min-height: 100vh;
    overflow: hidden;

    display: none;
    justify-content: center;
    align-content: center;
}

.header {
    display: grid;
    justify-content: center;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.unlock {
    font-weight: 200;
    color: #555555;
    animation-iteration-count: infinite;
}

.unlock:hover {
    color: #868686;
}

.lock {
    font-size: 1.7rem;
    color: #ffffff;
}

.clock {
    margin-top: 20px;
    font-weight: 200;
    font-size: 5rem;
}

.date {
    font-weight: 200;
    font-size: 1.4rem;
}

.mini {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.miniR {
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

.miniL {
    position: absolute;
    left: 0.5%;
    top: 0.5%;
}

.main {
    margin: 60px;
    display: none;
    grid-template-columns: "1fr 1fr 1fr 1fr 1fr";
    grid-template-rows: "1fr 1fr 1fr 1fr";
    grid-template-areas: ". . . . . " ". . . . . " ". . . .  ." ". . .. . .";
    justify-content: space-evenly;
}

.appCont {
    display: grid;
    grid-template-areas: 
    "a"
    "t";
    text-align: center;
    width: 100px;
    justify-content: center;
    margin: 15px;
}

.quickAppCont {
    display: grid;
    grid-template-areas: 
    "a"
    "t";
    text-align: center;
    width: 100px;
    justify-content: center;
}

.app {
    width: 75px;
    height: 75px;
    border-radius: 17px;
    box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
    grid-area: a;
    display: grid;
    align-content: center;
    font-size: 2.5rem;
}

.appCap {
    grid-area: t;
}

.gitHub {
    background-image: linear-gradient(to top right, #333333, #5A5454);
    background-size: 100%;
    color: #f5f5f5;
    font-size: 2.6rem;
}

.mail {
    background-image: linear-gradient(to top right, #3A3897, #A3A1FF);
    background-size: 100%;
    color: #f5f5f5;
    font-size: 2.6rem;
}

.aboutMe {
    background-image: linear-gradient(to top right, #F246F2, #EBC08D);
    background-size: 100%;
    color: #f5f5f5;
    font-size: 2.6rem;
}

.keyCode {
    background-image: linear-gradient(to top right, #312A6C, #852D91);
    background-size: 100%;
    color: #f5f5f5;
}

.diceRoll {
    background: #f5f5f5;
    background-size: 100%;
    font-size: 2.6rem;
}

.whackAmole {
    background-image: linear-gradient(to top right, #2E3192, #1BFFFF);
    background-size: 100%;
    color: #f5f5f5;
}

.cyberPet {
    background-image: linear-gradient(to top right, #ED213A, #93291E);
    background-size: 100%;
    color: #f5f5f5;
}

.jsClock {
    background-image: linear-gradient(to top right, #009E00, #8Aff8A);
    background-size: 100%;
    color: #f5f5f5
}

.drumKit {
    background-image: linear-gradient(to top right, #5C258D, #4389A2);
    background-size: 100%;
    color: #f5f5f5
}

.weather {
    background-image: linear-gradient(to top right, #36D1DC, #5B86E5);
    background-size: 100%;
    color: #f5f5f5
}

.chat {
    background-image: linear-gradient(to top right, #FF416C, #FF4B2B);
    background-size: 100%;
    color: #f5f5f5 
}

.flight {
    background-image: linear-gradient(to top right, #F5F5F5, #eeeeee);
    background-size: 100%;
    color: #f5f5f5 
}

.todo {
    background-image: linear-gradient(to top left, #16a085, #f4d03f);
    background-size: 100%;
    color: #f5f5f5 
}

.social {
    background-image: linear-gradient(to top left, #F7971E, #FFD200);
    background-size: 100%;
    color: #f5f5f5 
}

.movie {
    background-image: linear-gradient(to top left, #9796f0, #fbc7d4);
    background-size: 100%;
    color: #f5f5f5 
}

.calc {
    background: #eeeeee;
    background-size: 100%;
    color: #f5f5f5 
}

.quickBar {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background:  #cfcfcf;
    height: 125px;
    width: 100%;
    padding-top: 13px;
}

#quickBar {
    display: none;
    box-shadow: 0px -1px 5px -1px rgba(0,0,0,0.50);
}

.toast {
    position: absolute;
    top: 3%;
    right: 1%;
    width: 400px;
    background: #e8e8e8;
    border-radius: 9px;
    overflow: hidden;
    display: none;
}

.toastHead {
    background: #e8e8e8;
    padding-top: 6px;
    padding-left: 6px;
}

.toastBody {
    padding-left: 6px;
}

#toastTitle{
    font-weight: 300;
}

#close {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 1.3rem;
}

#close:hover {
    color: #636363; 
}
.swing {
    transform-origin: bottom left;
}

.large {
    font-size: 10rem;
    color: #f5f5f5;
}

.middlelock {
    width: 60%;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.notificationCont {
    margin: 10px;
    height: 170px;
    width: 600px;
    background: rgba(255,255,255, 0.90);
    border-radius: 15px;
}

.notificationHead {
    background: #f5f5f5;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    grid-template-columns: 40px 550px;
    grid-template-rows: 40px;
    grid-template-areas: ". .";
    justify-content: center;
    align-items: center;
}

.notificationIcon {
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-image: linear-gradient(to top right, #1D976C, #93F9B9);
    background-size: 100%;
    color: #f5f5f5;
    display: grid;
    justify-content: center;
    align-content: center;
}

.notificationText {
    color: #000000;
    text-align: left;
    margin-left: 5px;
    font-size: 20px;
}

.notificationBody {
    color: #000000;
    text-align: left;
    padding: 7px;
}

.techstack {
    font-size: 40px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
}

.techstack i{
    margin: 5px;
}

@media only screen and (max-width: 630px) {
    .main {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .appCont {
        padding-bottom: 15px;
    }
}

#aboutMePg {
    display: none;
    height: 100%;
    width: 100%;
    background-image: url(../img/papertex2.png);
    background-size: 400px;
    background-repeat: repeat;
    padding: 15px;
    padding-top: 44px;
}

.abCont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-areas: "a" "b";
}

.abTop {
    grid-area: a;
}

.abMain {
    height: 100vh;
    grid-area: b;
}

.abLnkTxt {
    background-color: #ffd122;
    color: transparent;
    text-shadow: 0px -2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

/*Toast Colors*/

.cbI {
    background-image: linear-gradient(to top right, #ED213A, #93291E);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.kcI {
    background-image: linear-gradient(to top right, #312A6C, #852D91);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.drI {
    background-image: linear-gradient(to top right, #ED1C24, #FCEE21);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.mhI {
    background-image: linear-gradient(to top right, #2E3192, #1BFFFF);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.clI {
    background-image: linear-gradient(to top right, #009E00, #8Aff8A);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.ghI {
    background-image: linear-gradient(to top right, #333333, #5A5454);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.mlI {
    background-image: linear-gradient(to top right, #3A3897, #A3A1FF);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.amI {
    background-image: linear-gradient(to top right, #F246F2, #EBC08D);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.frI {
    background-image: linear-gradient(to top right, #45145A, #FF5300);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.dkI {
    background-image: linear-gradient(to top right, #5C258D, #4389A2);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.waI {
    background-image: linear-gradient(to bottom left, #F7971E, #FFD200);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.flI {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.caI {
    background-image: linear-gradient(to bottom left, #FF416C, #FF4B2B);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.tdI {
    background-image: linear-gradient(to bottom left, #16a085, #f4d03f);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.mvI {
    background-image: linear-gradient(to bottom left, #9796f0, #fbc7d4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.ydI {
    background-image: linear-gradient(to bottom left, #F7971E, #FFD200);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.ccI {
    background-image: linear-gradient(to bottom left, #232526, #414345);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Temp Timeline */
